.navbar{
    border: 2px solid black !important;
    background-color: #8dc6ff !important;
}
  .silkscreen-regular {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.heading{
  font-size: xx-large;
}
  